@import "compass/reset";
@import "components/nav";
@import "components/notes";
@import "components/structure";
@import "components/text";

body, html {
    width:100%;
    height:100vh;
    margin-left:auto;
}

body {
    display:flex;
    flex-direction:row;
}
