@import "../vars/color";

.nav {
    background-color:$nav-bg;
    color:white;
    height:100%;
    left:0;
    text-align:right;
    display:flex;
    flex-direction:column;
    > li {
        display:block;
        > * {
            display:block;
            color:white;
            text-align:center;
            padding:1em .3em;
        }
    }
}
