@import "../vars/color";

.main {
    width:100%;
    height:100vh;
    position:absolute;
    left:0;
    top:0;
    transition:left 0.4s;
    overflow:auto;
    background-color:$main-bg;
    .content {
        margin:0 5%;
    }
    > div > .header {
        text-align:center;
        padding:.5em;
        &::after {
            content:"";
            display:block;
            height:1px;
            background-color:grey;
        }
    }
}
